.heading {

 font-size: 23px;
 width: 100%;
 margin: 0px;
 box-shadow: 5px 5px 5px rgb(255, 191, 191);
 color: rgb(250, 157, 173);


}

.note {

font-size: 15px;
color: rgb(94, 58, 58);

}

.copy_right_footer {

position: fixed;
bottom: 0px;
width: 100%;
margin: 0px;
background-color: rgb(255, 175, 175);
line-height: 3;
text-align: center;
color: rgb(75, 47, 47);

}

canvas {

border: 5px solid white;
border-radius: 20px;
box-shadow: 5px 5px 5px grey;

}